/*  768 */

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* 480 */

@media screen and (max-width: 480px) {

    .row {
        display: block;
    }

    .row >.col {
        width: 100%;
    }

    .col-left img{
        margin: 10px 0 85px 0;
        text-align: center;
    }

    .text {
        margin-bottom: 80px;
    }

}

/* Bonus */ 

@media screen and (max-width: 1160px) {
    .container {
        width: 100%;
    }
}